.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3036;
    color: #97ce4c;
    padding: 20px;
    font-size: 1.8rem;
    border-radius: 8px;
    gap: 20px; 
  }
  
  .logo {
    width: 50px; 
    height: auto;
  }
  